/* Font Family */


/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Manrope:wght@400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); */


/* font-family: 'Inter', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif; */


/* menu start  */

body {
    font-family: 'Poppins', sans-serif;
}

.convention-center-name {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height */
    font-feature-settings: 'liga' off;
    color: #3E3E3E;
}

.menu-items-name {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    font-feature-settings: 'liga' off;
    color: #3E3E3E;
}


/* menu end  */


/* slider start   */

.darker-image {
    filter: brightness(50%);
    /* height: 694px;  */
    height: 43.5rem;
    width: auto;
}

@media only screen and (max-width: 600px) {
    .darker-image {
        height: 33.5rem;
        width: auto;
    }
}

.image-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
    color: #FFFFFF;
}

.image-description {
    font-family: Poppins;
    margin-top: 2rem;
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.first_section {
    margin-bottom: 120px;
}


/* slider end   */


/* Our package start  */

.section_heading {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 57px;
    /* identical to box height */
    text-transform: capitalize;
    color: #0A0826;
}

.choose-plan {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    color: #3F87F5;
    background-color: rgba(255, 255, 255, 0.212);
}

.choose-plan2 {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    text-align: center;
    color: #3F87F5;
    background-color: #FFFFFF;
    border-radius: 24px;
}

.focus-card {
    background: #3F87F5;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
    border-radius: 26px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    /* identical to box height */
    color: #FFFFFF;
    transform: scale(1);
    /* transform: scaleY(1.05);
    transform: translateY(-15px); */
}

.dark_blue {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */
    color: #231D4F;
}

ul>li {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */
    color: #848199;
    margin-bottom: 4px;
}

.card-list {
    color: #FFFFFF;
}

.focus_text {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    /* identical to box height, or 128% */
    color: #FFFFFF;
}

.far {
    margin-right: 7px;
}


/* Our package end */


/* footer  */

footer {
    /* height: 150px;
    width: auto; */
    margin-top: 200px;
    color: #FFFFFF;
    padding-bottom: 50px;
}

.appstore {
    width: 30%;
    margin-top: 2%;
}

.last_section {
    background: #0B0D17;
}

.footer-content {
    padding-top: 4rem;
    align-items: center;
}

.fab {
    font-size: 1.5rem;
}

.blue-border {
    font-size: 1.2rem;
    border-right: 8px solid darkblue;
}

.pill {
    margin-left: -3rem;
}